/*
 VAVA Project

*/
/* 
    Created on : 15. 4. 2021, 0:38:10
    Author     : adamf
*/

.border-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 32px;
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
}

.left-pane {
    -fx-background-color: #5F2EEA;
    -fx-background-radius: 32px;
    -fx-pref-width: 300px;
    -fx-pref-height: 600px;
}

.center-pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 32px;
    -fx-pref-width: 600px;
    -fx-pref-height: 600px;
}

.lbl-name {
    -fx-font-family: "Roboto";
    -fx-font-size: 20px;
    font-weight: bolder;
    -fx-text-fill: #FFFFFF;
}

.btn-edit-informations {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #5F2EEA;
    -fx-pref-height: 35px;
    -fx-pref-width: 140px;
}

.btn-back {
    -fx-border-radius: 30px;
    -fx-border-color: #FFFFFF;
    -fx-background-color: transparent;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-fill: #FFFFFF;
}

.lbl-profile {
    -fx-font-family: "Roboto";
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.offers-pane-background {
    -fx-background-radius: 16px;
    -fx-background-color: #EFF0F7;
}

.btn-page {
    -fx-background-color: transparent;
    -fx-border-color: #5F2EEA;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-label-padding: 0.75px;
    -fx-font-family: "Poppins";
    -fx-text-fill: #5F2EEA;
    -fx-font-weight: bold;
}