/*
 VAVA Project

*/
/* 
    Created on : 17. 4. 2021, 21:47:56
    Author     : adamf
*/

.pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 32px;
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
}

.btn-back {
    -fx-border-radius: 30px;
    -fx-border-color: #5F2EEA;
    -fx-background-color: transparent;
    -fx-pref-width: 45px;
    -fx-pref-height: 45px;
    -fx-text-fill: #FFFFFF;
}

.btn-paging {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-border-color: #5F2EEA;
    -fx-border-radius: 16px;
    -fx-text-fill: #5F2EEA;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16px;
    -fx-pref-height: 45px;
    -fx-pref-width: 170px;
    -fx-background-insets: 0;
}

.btn-paging:pressed {
    -fx-pref-height: 44px;
    -fx-pref-width: 169px;
    -fx-background-insets: 0;
}

.tours-wrappers {
    -fx-background-radius: 16px;
    -fx-background-insets: 0;
    -fx-background-color: #EFF0F6;
}

.hbox-tour {
    -fx-background-color: #D9DBE9;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-pref-width: 650px;
    -fx-pref-height: 150px;
    -fx-spacing: 10;
}

.photo-tour {
    -fx-pref-width: 157px;
    -fx-pref-height: 150px;
}

.pane-tour {
    -fx-pref-width: 305px;
    -fx-pref-height: 150px;
}

.btn-interested {
    -fx-font-family: "Roboto";
    -fx-font-size: 12px;
    -fx-border-color: #5F2EEA;
    -fx-border-radius: 16px;
    -fx-text-fill: #5F2EEA;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16px;
    -fx-pref-height: 35px;
    -fx-pref-width: 100px;
    -fx-background-insets: 0;
}

.btn-interested:pressed {
    -fx-pref-height: 34px;
    -fx-pref-width: 99px;
    -fx-background-insets: 0;
}

.lbl-tour {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.lbl-informations {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    font-weight: normal;
    -fx-text-fill: black;
}

.lbl-destination {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.lbl-rating {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.lbl-price {
    -fx-font-family: "Roboto";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.text-field {
    -fx-font-family: "Roboto";
    -fx-font-size: 16px;
    -fx-background-color: #EFF0F6; 
    -fx-background-radius: 16px;
    -fx-pref-height: 50px;
    -fx-pref-width: 340px;
    -fx-background-repeat: no-repeat;
    -fx-background-image-position: left;
}

.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.booked-tour {
    -fx-background-color: #D9DBE9;
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-pref-width: 460px;
    -fx-pref-height: 170px;
}